<head>
  <link rel="stylesheet" href="login.component.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>

<div class="container" id="container">
<div class="form-container sign-up-container">
  <form action="#">
    <h1>Create Account</h1>
    <div class="social-container">
      <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <span>or use your email for registration</span>
    <input type="text" placeholder="Name" />
    <input type="email" placeholder="Email" />
    <input type="password" placeholder="Password" />
    <button>Sign Up</button>
  </form>
</div>
<div class="form-container sign-in-container">
  <form method="post"  (ngSubmit)="logincheck()">
    <h1>Sign in</h1>
          <div class="social-container">
              <a href="#" class="social"><i class="ionicons ion-social-facebook"></i></a>
              <a href="#" class="social"><i class="ionicons ion-social-google"></i></a>
              <a href="#" class="social"><i class="ionicons ion-social-linkedin"></i></a>
          </div>
    <span>or use your account</span>
    <input type="email" name="email" id="email" placeholder="Email"  [(ngModel)]="email"/>
    <input type="password" name="password" id="password" placeholder="Password"  [(ngModel)]="password"/>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <a href="#">Forgot your password?</a>
    <button>Sign In</button>
  </form>
</div>
<div class="overlay-container">
  <div class="overlay">
    <div class="overlay-panel overlay-left">
      <h1>Welcome Back!</h1>
      <p>To keep connected with us please login with your personal info</p>
      <button class="ghost" id="signIn" (click)="logincheck()">Sign In</button>
    </div>
    <div class="overlay-panel overlay-right">
      <h1>Hello, Entrepreneur!</h1>
      <p>Enter your personal details and start business with us</p>
      <button class="ghost" id="signUp" (click)="Singup()">Get Started</button>
       <p>OR</p>
      <button class="ghost" id="home" [routerLink]="['/home']">Return to home</button>
    </div>
  </div>
</div>
</div>
</body>

<script>
  const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
</script>
