<!DOCTYPE html><html>

<body class="sub_page">
  <div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
              <a class="navbar-brand" href="index.html">
                <span>
                  <img class="imge" src="../assets/images/8adida.png" alt="">
                </span>
              </a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent"  >
                <div class="d-flex  flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                      <a class="nav-link" [routerLink]="['/home']" >Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/about']">About </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/service']">Services </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/contact']">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/help']">  Help </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  [routerLink]="['/login']"  > Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/getstart']"> Getstarted </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
     </header>

  </div>

  <!-- service section -->

  <section class="service_section">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Welcome to our website
        </h2>
      </div>
      <p>We are an online platform for investors and idea holders.</p>
      <a [routerLink]="['/getstart']">SINGUP</a>
      <div class="service_container layout_padding2">
        <div class="service_box">

          <div class="detail-box">
            <p>The website helps idea holders to find investors to fund their projects.</p>
      <p>It provides a platform for idea holders to present their ideas and for investors to search for investment opportunities.</p>
      <p>Idea holders can include images, videos, and supporting documents to help investors better understand their project.</p>

          </div>
        </div>
        <div class="service_box">
          <div class="detail-box">
            <p>Investors can use advanced search tools to find projects in specific fields or within a certain financing range.</p>
            <p>Investors can use the secure online messaging system to communicate with idea holders and ask questions about the project.</p>
          </div>
        </div>
        <div class="service_box">

          <div class="detail-box">
            <p>The website aims to facilitate the connection between investors and idea holders by offering a platform to discuss and negotiate investment terms online.</p>
      <p>The website is an essential tool for idea holders looking to fund their project and for investors seeking investment opportunities.</p>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <div class="footer_bg">
    <!-- info section -->
    <section class="info_section layout_padding2-bottom">
      <div class="container info_content">
        <div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              <div class="d-flex">
                <h5>
                  Get Started
                </h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <a [routerLink]="['/loginpor']">
                      Start as Investor
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/loginino']">
                      Start as Innovator
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/login']">
                      Account Login
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="d-flex">
                <h5>
                  Resources
                </h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <a href="">
                      F and Q
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Guidelines
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/contact']">
                      Contact Us
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="d-flex">
                <h5>
                  Legal
                </h5>
              </div>
              <div class="d-flex ">
                <ul>
                  <li>
                    <a href="">
                      Privacy Policy
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Team and service
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section class="container-fluid footer_section">
      <p>
        <a href="https://html.design/"></a>
      </p>
    </section>
    <!-- footer section -->
    <div class="bestd">
      <div class="social-box">
        <a href="">
          <img src="../assets/images/fb.png" alt=""/>
        </a>

        <a href="">
          <img src="../assets/images/twitter.png" alt=""/>
        </a>
        <a href="">
          <img src="../assets/images/linkedin1.png" alt=""/>
        </a>
        <a href="">
          <img src="../assets/images/instagram1.png" alt=""/>
        </a>
      </div>
    </div>
  </div>
</body></html>
